.main {
  display: flex;

  .lesson-list {
    flex: 1;
    height: 100%;
    padding: 10px;
    border-left: 1px solid #494954;
    border-right: 1px solid #494954;
  
    .lesson-button__wrapper{
      position: relative;
      text-align: center;
    }
  }

  @media (max-width: 500px){
    .lesson-list{
      border: none;
    }
  }
  
  .side-info {
    position: fixed;
    right: 0;
    top: 20px;
    width: 30vw;
    height: 100vh;
    border-left: 1px solid #494954;
  }
}
