.skeletron-side-navigation{
  .logo__wrapper{
    .logo{
      color: gray;
    }
  }

  .navigation-list{
    .side-navigation-item{

      .side-navigation-link{
        color: gray;
        background: #383841;

        .side-navigation-icon{
          width: 30px;
          height: 30px;
          background: gray;
          border-radius: 100px;
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .side-navigation{
    width: 60px;
    background: #151433;
    padding: 15px 10px 15px 10px;

    .logo__wrapper{
      display: none;
    }

    .navigation-list{
      .side-navigation-item{
        height: 30px;
        margin-bottom: 30px;

        .side-navigation-link{
          font-size: 0px;
          padding: 2.5px;
          letter-spacing: 0px;

          .side-navigation-icon{
            margin-right: 0px;
          }
        }

        .side-navigation-link.active{
          padding: 3px;
          width: 40px;
        }
      }
    }
  }
}