.title-words{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #61616b;

  @media (max-width: 500px){
    &{
      font-size: 18px;
    }
  }
}

.field__wrapper{
  width: 100%;
  border-bottom: 1px solid #61616b;
  background: #010027;
  padding-top: 10px;
  min-height: 100px;
  z-index: 2;
}

.answer-button-list{
  padding-top: 20px;
  background: #010027;
}

.few-words{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  
  @media (max-width: 500px){
    &{
      width: 100%;
    }
  }

  .few-words-wrapper-list{
    width: 100%;
    margin: 0px 20px;

    .answer-few-button{
      text-align: center;
      width: 100%;
      background: #fff;
      padding: 15px 0px;
      margin: 6px 0px;
      border-radius: 8px;
      font-size: 16px;
      font-weight: 600;
      color: #010027;
      box-shadow: 0 4px #61616b;

      &:active{
        box-shadow: 0 0px #61616b;
        transform: translateY(4px);
      }

      @media (max-width: 500px){
        &{
          font-size: 14px;
          padding: 15px 0px;
        }
      }
    }

    .answer-few-button.disabled {
      background-color: grey;
      cursor: default;
      opacity: 0.5;
      box-shadow: none;
      transform: translateY(4px);
      transition: all .2s ease-in-out;
    }

    .answer-few-button.active{
      box-shadow: 0 0px #61616b;
      transform: translateY(4px);
      opacity: 0.6;
      cursor: default;
    }
  }
}

.tooltip-container {
  position: relative;
  transition: all 0.2s;
  width: 100%;
  border-bottom: 1px solid #61616b;
  box-sizing: border-box;
  color: #fff;
  background: transparent;
  --tooltip-bg: #303030;
  --tooltip-color: #fff;
  --margin: 0.5rem;

  .text {
    z-index: 9;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
    height: fit-content;
  }
  
  .tooltip {
    position: absolute;
    top: calc(-1 * var(--margin));
    left: 50%;
    transform: translateX(-50%) translateY(0%) scale(0);
    padding: 6px 16px;
    opacity: 0;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.2s;
    background: var(--tooltip-bg);
    color: var(--tooltip-color);
    border-radius: 0.5rem;
    z-index: 99999;
    font-size: 16px;
  }
  
  .tooltip::before {
    position: absolute;
    content: "";
    height: 0.6em;
    width: 0.6em;
    bottom: -0.2em;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    background: var(--tooltip-bg);
    border-bottom-right-radius: 0.175rem;
  }
}

.tooltip-container:focus .tooltip {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(-50%) translateY(-100%) scale(1);
}