.title-words{
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 2px;
  margin-bottom: 0px;
  padding-bottom: 20px;
  border-bottom: 1px solid #61616b;
}

.field__wrapper{
  width: 100%;
  border-bottom: 1px solid #61616b;
  background: #010027;
  padding-top: 10px;
  height: 100px;
  z-index: 2;
}

.answer-button-list{
  padding-top: 20px;
  background: #010027;
}