.input-wrapper{
  display: flex;
  align-items: center;
  position: relative;
  width: 60%;

  @media (max-width: 500px) {
    &{
      width: 100%;
    }
  }
  
  .show-password-button{
    position: absolute;
    background: transparent;
    padding: 10px;
    right: -2px;
    top: -4px;
  }

  /* Показываем кнопку, если инпут имеет тип "password" */
  .login-input[type="password"] ~ .show-password-button {
    display: block;
  }

  /* Скрываем кнопку, если тип инпута "email" */
  .login-input[type="email"] ~ .show-password-button {
    display: none;
  }

  .login-input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 0px;
    background: transparent;
    border: 1px solid #fff;
    color: #fff;
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 30px;
    letter-spacing: 2px;

    &::placeholder {
      color: #fff;
      font-weight: 300;
      font-size: 15px;
      opacity: 0.5;
      letter-spacing: 2px;
    }
  }
}